*{
    margin: 0;
    box-sizing: border-box;
    outline: solid black 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --ball-x: 0;
    --ball-y: 0;

    --playerOneColor0: white;
    --playerOneColor1: white;
    --playerOneColor2: white;
    
    --playerTwoColor0: white;
    --playerTwoColor1: white;
    --playerTwoColor2: white;

    --color-primary: darkolivegreen;
    --color-secondary: white;
    --color-warning: red;
}

html, body{
    height: 100vh;
}

body{
    background-color: blue;
}

/* Toggle buttons */
.volume-toggle, .music-toggle{
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #ffffff;
    opacity: 50%;
    cursor: pointer;
    z-index: 1;
}

.music-toggle{
    right: 50px;
}

.volume-toggle:hover, .music-toggle:hover{
    opacity: 100%;
}

.volume-toggle.fa-volume-high, .music-toggle.music-on{
    opacity: 100%;
}

/* First screen */
.first-screen{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-image: url("./images/misc/field.png"), url("./images/misc/field-blurred.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: bottom;
}

.ball-cursor{
    display: none;
}

.title-container{
    display: flex;
    text-align: center;
    color: var(--color-secondary);
    font-size: 3rem;
    margin-top: 140px;
}

.title-container > .title-left{
    color: var(--color-primary);
}

.title-left span{
    color: var(--color-secondary);
}

.title-container .badges{
    display: none;
}

.first-screen > .play-button{
    justify-self: center;
    padding: 7.5px 20px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: solid 4px var(--color-secondary);
    font-weight: 900;
}

@media (orientation: landscape) and (min-width: 1000px){
    body{
        overflow: hidden;
    }

    .first-screen, .first-screen > *{
        cursor: none;
    }

    .title-container{
       font-size: 8rem; 
    }

    .title-mid > .letter-u{
        display: none;
    }

    .title-mid > .badges{
        display: block;
        width: 8rem;
        height: 8rem;
        background-image: url("./images/misc/important-clubs.png");
        background-repeat: no-repeat;
        background-size: cover;
        animation: changeBadges 20s steps(29) infinite;
    }

    @keyframes changeBadges {
        0% {background-position-x: 0px;}
        100% {background-position-x: calc(8rem * -29);}
    }

    .first-screen > .play-button{
        background-color: transparent;
        border: none;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("./images/misc/goal.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        width: 620px;
        height: 350px;
        bottom: 17%;
        font-size: 4rem;
        font-family: sans-serif;
        font-weight: 900;
        color: var(--color-secondary);
    }

    .first-screen > .play-button:hover{
        color: var(--color-primary);
        transform: scale(1.01);
    }
    
    .first-screen > .ball-cursor{
        pointer-events: none;
        position: absolute;
        width: 64px;
        height: 64px;
        background-image: url("./images/misc/rotating-ball-sprite.png");
        background-position-y: center;
        animation: rotateBall 0.4s steps(12) infinite;
    }
}

@keyframes rotateBall {
    0% {background-position-x: 0px;}
    100% {background-position-x: -768px;}
}

@media (max-width: 300px){
    .first-screen > .title{
        font-size: 2rem;
    }
    .first-screen > button{
        padding: 5.625px 15px;
    }
}

@media (min-width: 700px){
    .first-screen > .title{
        font-size: 6rem;
    }
    .first-screen > button{
        padding: 15px 40px;
    }
}

/* Initial settings */

.initial-settings{
    display: flex;
    flex-direction: column;
    background-image: url("./images/misc/field.png");
    background-size: cover;
    background-position: bottom;
    color: #ffffff;
}

.initial-settings > .top{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top > .left, .top > .right{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.initial-settings > .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7% 0;
}

.versus{
    position: absolute;
    font-size: 4rem;
    z-index: 1;
    outline: none;
    color: var(--color-secondary);
    font-weight: 900;
    text-shadow: -3px 3px var(--color-primary);
}

.versus.v{
    bottom: calc(0px - 2rem);
    left: calc(50vw - 2rem);
}

.versus.s{
    top: calc(0px - 2rem);
    right: calc(50vw - 2rem);
}

select{
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
    color: white;
    border: none;
    text-align: center;
}

select option{
    background-color: black;
}

.difficulty-toggle{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: -10px;
    font-weight: 900;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    box-shadow: 0 0 0 2px;
    outline: none;
    transition: 0.3s;
    padding: 0 2%;
    border-radius: 10px;
}

.difficulty-toggle:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/* Initial settings selectors: */

.random-button, .return-button{
    font-size: 32px;
    cursor: pointer;
}

.random-button{
    margin: 20px 5% -32px auto;

}

.return-button{
    margin: 0 auto 0 5%;
}

input[type="text"]{
    width: min(90%, 200px);
    text-align: center;
}

input[type="text"]:focus{
    outline: solid 2px var(--color-primary);
}

div.select-team, .category-selector{
    width: 95vmin;
    height: 95vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 87px;
    background-color: rgba(10, 10, 10, 70%);
    border-radius: 10px;
}

.left > div.select-team{
    margin-bottom: 50px;
}

.right > select, .left > .versus.v + p{
    margin-top: 50px;
}

div.select-team button{
    padding: 7.5px 20px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: solid 4px var(--color-secondary);
    font-weight: 900;
    border-radius: 20px;
    transition-duration: 0.3s;
}

div.select-team button:hover{
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-color: var(--color-primary);
    box-shadow: 0 0 0 5px var(--color-secondary);
    transform: scale(1.05);
}

.category-selector{
    justify-content: initial;
    align-items: initial;
}

.category-selector > *{
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.category-title{
    width: 100%;
    padding: 10px 0;
    background-color: rgba(10, 10, 10, 70%);
    text-align: center;
    margin-bottom: 55%;
}

.national-teams{
    background-image: url(./images/cups/world-cup.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: -1px 0px 0 #303030 inset
}

.clubs{
    background-image: url(./images/cups/club-world-cup.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 1px 0px 0 #303030 inset
}

.continent-selector, .national-teams-selector, .leagues-selector, .clubs-selector{
    display: grid;
    width: 95vmin;
    height: 95vmin;
    margin: 0 0 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    overflow: scroll;
    background-color: rgba(10, 10, 10, 70%);
    border-radius: 10px;
}

.continent-selector{
    margin-top: 18px;
}

.continent, .national-team, .league, .club{
    display: flex;
    height: 150px;
    margin: 5%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.continent{
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    cursor: pointer;
}

.continent > p{
    background-color: rgba(10, 10, 10, 80%);
    font-weight: 900;
}

.national-team, .league, .club{
    justify-content: center;
    cursor: pointer;
}

.club-chosen, .national-team-chosen{
    width: 95vmin;
    height: 95vmin;
    margin: 0 0 20px;
}

.invalid-message{
    color: var(--color-warning);
    background-color: rgba(10, 10, 10, 70%);
    border-radius: 10px;
    padding: 0 5%;
    text-shadow: 0px 0px 1px white;
}

.invalid-name{
    margin-bottom: -18px;
}

.invalid-team{
    position: absolute;
    bottom: 60px;
}

.bottom > button{
    padding: 15px 40px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: solid 4px var(--color-primary);
    font-size: 1rem;
    font-weight: 900;
    border-radius: 40px;
    transition-duration: 0.3s;
}

.bottom > button:hover{
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    box-shadow: 0 0 0 5px var(--color-primary);
    transform: scale(1.05);
}

@media (orientation: landscape) and (min-width: 1000px){
    body{
        background-color: red;
    }

    .initial-settings{
        height: 100%;
    }
    
    .initial-settings > .top{
        flex-direction: row;
        height: 90%;
    }
    .initial-settings > .bottom{
        padding: 0;
        height: 15%;
    }
    .difficulty-toggle{
        margin-top: 10px;
        margin-bottom: -29px;
    }

    .top > .left, .top > .right{
        width: 50%;
        height: 100%;
    }

    .versus.v{
        top: 50px;
        right: 0;
        bottom: initial;
        left: initial;
    }
    
    .versus.s{
        top: 50px;
        left: 0;
        bottom: initial;
        right: initial;
    }


    div.select-team, .category-selector{
        width: 90%;
        height: 100%;
        margin-bottom: 87px;
    }

    .category-selector > *{
        filter:brightness(0.8);
    }
    
    .category-selector > *:hover{
        filter:brightness(1.1);
        cursor: pointer;
    }
    
    .category-title{
        padding: 30px 0;
    }

    .continent{
        filter: brightness(0.8);
    }

    .continent:hover{
        filter: brightness(1.1);
    }

    .continent-selector, .national-teams-selector, .leagues-selector, .clubs-selector{
        width: 90%;
        height: 100%;
        margin-bottom: 87px;
    }

    .club-chosen, .national-team-chosen{
        width: 90%;
        height: 100%;
        margin-bottom: 87px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .left > div.select-team{
        margin-bottom: 87px;
    }
}


/* Coin flip screen */

.coin-flip-screen{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.coin-flip-instructions{
    position: absolute;
    top: 15%;
    width: 100%;
    padding: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin-messages-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    height: 10%;
}

.flip-winner{
    background-color: green;
}

.coin-side-message-head, .coin-side-message-tail{
    display: flex;
    width: 12%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: fit-content;
    padding: 0.5% 0;
}

.coin-side-message-head:after{
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/coin/head.png");
}

.coin-side-message-tail:after{
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/coin/tail.png");
}

.coin-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* This tutorial was extremely useful when making the coin: https://rezabaharvand.dev/blog/coin-flip-javascript */
#coin {
    height: 120px;
    width: 120px;
    position: relative;
    margin: 0;
    transform-style: preserve-3d;
}
  
#coin img {
    width: 120px;
}
  
.tail {
    transform: rotateX(180deg);
}

.head, .tail {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

@keyframes flip-head {
    0% {transform: rotateX(0) scale(1)}
    50% {transform: rotateX(540deg) scale(2)}
    100% {transform: rotateX(1080deg) scale(1)}
}
  
@keyframes flip-tail {
    0% {transform: rotateX(0) scale(1)}
    50% {transform: rotateX(630deg) scale(2)}
    100% {transform: rotateX(1260deg) scale(1)}
}

.first-turn-message-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* game screen */

.game-screen{
    display: flex;
    height:100%;
}

.player-one-side, .player-two-side{
    flex: 1;
}

.player-one-side{
    background-color: yellow;
}

.scoreboard{
    position: absolute;
    background-color: white;
    z-index: 1;
    top: -95%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 20px;
}

/* .scoreboard > .time-container{
} */

.scoreboard > .score-container{
    flex: 1;
    display: flex;
    gap: 20px;
}

.scoreboard .local, .scoreboard .visitor{
    display: flex;
    gap: 10px;
}

.current-player{
    border: solid 20px pink;
}

@media (orientation: portrait) and (max-width: 900px){
    .scoreboard{
        top: -80%;
    }
}

/* Hacer el scoreboard con las abreviaciones de los clubes(añadir a DATA) y añadir los escudos y colores. */

.game-board{
    position: absolute;
    top: calc(50% - 40vmin);
    left: calc(50% - 40vmin);
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 1%;   
    font-family: sans-serif;
    font-size: 100px;
}

.cell{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover{
    border: solid 2px white;
}

@media (orientation: portrait){
    .game-board{
        top: calc(45% - 40vmin);
    }
}

.winning-combination{
    background-color: red;
}


/* game result screen */

.game-result-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* miscellaneous */

@keyframes fade-in-and-out {
    0% {opacity: 0}
    15% {opacity: 1}
    85% {opacity: 1}
    100% {opacity: 0}
}

.song-title-container{
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.25);
}
