*{
    margin: 0;
    box-sizing: border-box;
    outline: solid black 1px;
}

html, body{
    height: 100vh;
}

body{
    background-color: blue;
}

/* Toggle buttons */
.volume-toggle, .music-toggle{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: white;
    opacity: 50%;
    cursor: pointer;
    z-index: 1;
}

.music-toggle{
    right: 50px;
}

.volume-toggle:hover, .music-toggle:hover{
    opacity: 100%;
}

.volume-toggle.fa-volume-high, .music-toggle.music-on{
    opacity: 100%;
}

/* First screen */
.first-screen{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: blue;
}

.first-screen > .title{
    margin-top: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    font-size: 3rem;
    margin-top: 140px;
}

.first-screen > button{
    justify-self: center;
    padding: 7.5px 20px;
}

@media (max-width: 300px){
    .first-screen > .title{
        font-size: 2rem;
    }
    .first-screen > button{
        padding: 5.625px 15px;
    }
}

@media (min-width: 700px){
    .first-screen > .title{
        font-size: 6rem;
    }
    .first-screen > button{
        padding: 15px 40px;
    }
}

/* Initial settings */

.initial-settings{
    display: flex;
    flex-direction: column;
}

.initial-settings > .top{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top > .left, .top > .right{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}

.initial-settings > .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7% 0;
}

.versus{
    position: absolute;
    font-size: 4rem;
    z-index: 1;
    outline: none;
}

.versus.v{
    bottom: calc(0px - 2rem);
    left: calc(50vw - 2rem);
}

.versus.s{
    top: calc(0px - 2rem);
    right: calc(50vw - 2rem);
}

/* Initial settings selectors: */

.random-button{
    font-size: 32px;
    margin: 20px 5% -32px auto;
}

.return-button{
    font-size: 32px;
    margin: 0 auto 0 5%;
}

input[type="text"]{
    width: min(90%, 200px);
    text-align: center;
}

div.select-team, .category-selector{
    width: 95vmin;
    height: 95vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 87px;
}

.left > div.select-team{
    margin-bottom: 50px;
}

.right > select, .left > .versus.v + p{
    margin-top: 50px;
}

/* div.select-team button{

} */


.category-selector{
    justify-content: initial;
    align-items: initial;
}

.category-selector > *{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-title{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.national-teams{
    background-image: url(./images/cups/world-cup.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.clubs{
    background-image: url(./images/cups/club-world-cup.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.continent-selector, .national-teams-selector, .leagues-selector, .clubs-selector{
    display: grid;
    width: 95vmin;
    height: 95vmin;
    margin: 0 0 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    overflow: scroll;
}

.continent-selector{
    margin-top: 18px;
}

.continent, .national-team, .league, .club{
    height: 150px;
    margin: 5%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.club-chosen, .national-team-chosen{
    width: 95vmin;
    height: 95vmin;
    margin: 0 0 20px;
}

.invalid-name{
    margin-bottom: -18px;
}

.invalid-team{
    position: absolute;
    bottom: 60px;
}

@media (orientation: landscape) and (min-width: 1000px){
    body{
        background-color: red;
    }

    .initial-settings{
        height: 100%;
    }
    
    .initial-settings > .top{
        flex-direction: row;
        height: 90%;
    }
    .initial-settings > .bottom{
        padding: 0;
        height: 15%;
    }
    .difficulty-toggle{
        margin-bottom: -21px;
    }

    .top > .left, .top > .right{
        width: 50%;
        height: 100%;
    }

    .versus.v{
        top: 50px;
        right: 0;
        bottom: initial;
        left: initial;
    }
    
    .versus.s{
        top: 50px;
        left: 0;
        bottom: initial;
        right: initial;
    }


    div.select-team, .category-selector{
        width: 90%;
        height: 100%;
        margin-bottom: 87px;
    }
    
    .continent-selector, .national-teams-selector, .leagues-selector, .clubs-selector{
        width: 90%;
        height: 100%;
        margin-bottom: 87px;
    }

    .club-chosen, .national-team-chosen{
        width: 90%;
        height: 100%;
        margin-bottom: 87px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .left > div.select-team{
        margin-bottom: 87px;
    }
}


/* Coin flip screen */

/*Coin flip FALTA LA PARTE DE JS NOMAS*/
/* https://rezabaharvand.dev/blog/coin-flip-javascript */

.coin-flip-screen{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.coin-flip-instructions{
    position: absolute;
    top: 15%;
    width: 100%;
    padding: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin-messages-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    height: 10%;
}

.flip-winner{
    background-color: green;
}

.coin-side-message-head, .coin-side-message-tail{
    display: flex;
    width: 12%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: fit-content;
    padding: 0.5% 0;
}

.coin-side-message-head:after{
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/coin/head.png");
}

.coin-side-message-tail:after{
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/coin/tail.png");
}

.coin-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
  
#coin {
    height: 120px;
    width: 120px;
    position: relative;
    margin: 0;
    transform-style: preserve-3d;
}
  
#coin img {
    width: 120px;
}
  
.tail {
    transform: rotateX(180deg);
}

.head, .tail {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

@keyframes flip-head {
    0% {transform: rotateX(0) scale(1)}
    50% {transform: rotateX(540deg) scale(2)}
    100% {transform: rotateX(1080deg) scale(1)}
}
  
@keyframes flip-tail {
    0% {transform: rotateX(0) scale(1)}
    50% {transform: rotateX(630deg) scale(2)}
    100% {transform: rotateX(1260deg) scale(1)}
}

.first-turn-message-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}










.game-board{
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 1%;   
    font-family: sans-serif;
    font-size: 100px;
}

.cell{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover{
    border: solid 2px white;
}

@media (orientation: portrait){
    .game-board{
        margin-top: 10vmax;
        align-self: flex-start;
    }
}



.winning-combination{
    background-color: red;
}

@keyframes fade-in-and-out {
    0% {opacity: 0}
    15% {opacity: 1}
    85% {opacity: 1}
    100% {opacity: 0}
}

.song-title-container{
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.25);
}